.result {
    color: #222;
    width: 100%;
    height: 100vh;
}

.back-btn {
    display: flex;
    align-items: center;
    font-family: NunitoBold;
    font-size: 13.6pt;
    background-color: transparent;
    border: none;
    width: 90px;
}

.back-btn:hover {
    cursor: pointer;
}

.back-btn > span {
    margin-left: 18px;
}

.test-name {
    margin-top: 10px;
    font-family: MontserratSemiBold;
    font-size: 10.5pt;
}

.result-content {
    display: flex;
    flex-direction: column;
    padding: 40px 40px 35px 40px;
}

.some-information {
    min-height: 630px;
}
